<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.authenticated  %}
    <p>Hola {{user.username}}</p>
    <p>Ingresa para ver tus publicaciones</p>
    <a href="{% url 'blog-home' %}">Area 51 marketplace</a>

    {% else %}
    <p>Crea tu cuenta</p>
    <a href="{% url 'login' %}">log In</a>
    <a href="{% url 'signup' %}">sign Up</a>

    {% endif %}
    
</body>
</html>